/*
 * designed by Ivan Jiang (iplus26)
 */

/*
 * Variables
 */

 $main_color: rgb(66, 165, 245);
 $site_url: 'http://127.0.0.1:4000/blog';

/*
 * Global
 */
 html, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a,
 code, del, em, img, small, strong, ol, ul, li, label, table {
 	border: 0;
 	vertical-align: baseline;
 	margin: 0;
 	padding: 0;
 }

 body {
 	font-family: 'Helvetica', sans-serif;
 	padding: 0;
 	margin: 0;
 }

 .blog-header {

 	position: relative;
 	text-align: center;
 	background-color: #fff;
 	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
 	z-index: 10;

 	.blog-logo {
 		position: relative;
 		display: inline-block;
 		width: 60px;
 		height: 60px;
 		margin-top: 15px;
 		margin-bottom: 10px;
 		z-index: 100;
 		background-image: url('http://7xjjp0.com1.z0.glb.clouddn.com/me.png');
 		background-size: contain;
 		background-position: center;
 		border-radius: 50%;

 		&:after {
 			content: "";
 			position: absolute;
 			z-index: -1;
 			top: -6px;
 			left: -6px;
 			border: $main_color solid 2px;
 			display: inline-block;
 			width: 68px;
 			height: 68px;
 			border-radius: 50%;
 			-webkit-transform: scale(0.85);
 			transform: scale(0.85);
 			opacity: 0;
 			-webkit-transition: all 0.3s cubic-bezier(0.51, 0.2, 0.29, 2.07);
 			transition: all 0.3s cubic-bezier(0.51, 0.2, 0.29, 2.07);
 			visibility: hidden;
 		}

 		&:hover:after {
 			opacity: 1;
 			visibility: visible;
 			-webkit-transform: scale(1);
 			transform: scale(1);
 		}
 	}
 }

 .blog-categories {

 	font-family: Georgia, serif;
 	font-size: 13px;
 	border-bottom: 1px solid #e7e7e7;

 	ul.blog-categories-list {
 		text-align: center;
 		list-style: none;
 		background-color: #f9f9fb;

 		li.blog-categories-list-item {
 			font-style: italic;
 			display: inline-block;
 			color: #333;
 			padding: 5px;

 			a {
 				text-decoration: none;
 				display: inline-block;
 				color: inherit;
 				padding: 6px 10px;
 				border-radius: 2px;

 				&:hover {
 					background-color: #fff;
 				}
 			}
 		}

 		li.blog-categories-list-item-selected {
 			color: darken(red, 10%);
 		}
 	}
 }

 @media all and (max-width: 600px) {

 	.blog-categories {
 		font-size: 11px;
 		overflow-x: scroll;
 		overflow-y: scroll;

 		ul.blog-categories-list {
			// width: 145%;
			text-align: center;

			li.blog-categories-list-item {

				padding-left: 0;
				padding-right: 0;

				a {
					padding-left: 8px;
					padding-right: 8px;
				}
			}

		}

	}

}

.blog-wrapper {
	background-color: #f4f4f6;
	padding-top: 40px;

	.blog-posts {

		padding: 1px 20px;

		.post-preview {

			display: block;
			background-color: #fff;
			border-radius: 4px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
			max-width: 1100px;
			// overflow: hidden;
			position: relative;
			margin: 0 auto 40px;

			.post-preview-content {

				padding: 30px 48% 40px 35px;

				h1.post-preview-header {
					font-weight: 300;
					line-height: 1.3em;
					margin: 0;

					a {
						text-decoration: none;
						color: inherit;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.post-categories {
					text-transform: uppercase;
					color: #d2d2d2;
					font-size: 13px;
					margin-bottom: 20px;
					letter-spacing: 1px;

					a {
						position: relative;
						text-decoration: none;
						color: inherit;
						
						&:after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							height: 1px;
							width: 100%;
							background-color: #d2d2d2;
							-webkit-transform: scaleX(0);
							transform: scaleX(0);
							-webkit-transition: all .3s ease-in-out;
							transition: all .3s ease-in-out;
							visibility: hidden;
						}

						&:hover {
							&:after {
								visibility: visible;
								-webkit-transform: scaleX(1);
								transform: scaleX(1);
							}
						}
					}

				}

				.article-preview {
					.blog-banner {
						position: absolute;
						top: 0;
						right: 0;
						height: 100%;
						width: 46%;
						text-align: center;

						.blog-banner-content {
							display: inline-block;
							vertical-align: middle;
							margin: auto;
							width: 100px;
							height: 100%;
							background-size: contain;
							background-repeat: no-repeat;
							background-position: center;
							-webkit-transition: all .3s ease-in-out;
							transition: all .3s ease-in-out;

							&:hover {
								-webkit-transform: scale(1.2);
								transform: scale(1.2);
							}
						}

						.banner-leetcode-logo-container {
							background-image: url($site_url + '/public/images/leetcode-logo.png');
						}

						.banner-virtualbox-logo-container {
							background-image: url($site_url + '/public/images/virtualbox-logo.png');
						}

						.banner-finder-icon-container {
							background-image: url($site_url + '/public/images/finder-icon.png');
						}

						.banner-git-logo-container {
							background-image: url($site_url + '/public/images/git-logo.png');
						}

						.banner-d3-logo-container {
							background-image: url($site_url + '/public/images/d3-logo.png');
						}

						.banner-jekyll-logo-container {
							width: 150px;
							background-image: url($site_url + '/public/images/jekyll-logo.png');
						}

						.banner-mongodb-logo-container {
							background-image: url($site_url + '/public/images/mongodb-logo.png');
						}

						.banner-iphone-sound-icon-container {
							background-image: url($site_url + '/public/images/iphone-sound-icon.png');
						}

						.banner-tvshowtime-logo-container {
							background-image: url($site_url + '/public/images/tvshowtime-logo.png');
						}

						.banner-teevee-icon-container {
							background-image: url($site_url + '/public/images/teevee-icon.png');
						}
					}
				}
			}
		}
	}
}

/*
 * Colorful banner 
 */

 .banner-orange {
 	background-color: rgb(242, 169, 72);
 }

 .banner-yellow {
 	background-color: rgb(250, 204, 99);
 }

 .banner-deepblue {
 	background-color: rgb(24, 57, 99);
 }

 .banner-lightblue {
 	background-color: lighten(rgb(27, 193, 252), 20%);
 }

 .banner-gray {
 	background-color: rgb(32, 32, 32);
 }

 .banner-lightgray {
 	background-color: rgb(145, 145, 145);
 }

 .banner-green {
 	background-color: rgb(32, 181, 110);
 }

 .banner-soil {
 	background-color: rgb(89, 65, 53);
 }

 @media all and (max-width: 700px) {
 	.blog-wrapper {
 		padding-top: 20px;

 		.blog-posts {

 			padding-left: 7px;
 			padding-right: 7px;

 			.post-preview {
 				margin-bottom: 20px;

 				.post-preview-content {

 					padding-left: 20px;
 					padding-right: 20px;
 					padding-bottom: 20px;
 					padding-top: 185px;

 					.article-preview {
 						.blog-banner {
 							width: 100%;
 							height: 170px;

 							.blog-banner-content {
								// top: 35px;
							}
						}
					}
				}
			}
		}
	}
}

.blog-bio {
	background-color: #f4f4f6;
	text-align: center;
	padding: 10px;

	.footer-wrapper {

		margin: 0 auto 40px;
		font-size: 14px;
		line-height: 1.7em;
		max-width: 550px;
		border-top: 1px solid #eee;

		.bio-avatar {
			display: inline-block;
			background-image: url('http://7xjjp0.com1.z0.glb.clouddn.com/me.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 180px;
			height: 180px;
			border-radius: 50%;
			margin-bottom: 15px;
			margin-top: 35px;
		}

		p {
			font-family: Georgia, serif;
			margin-bottom: 15px;
		}

		a {
			color: $main_color;

			&:hover {
				color: lighten($main_color, 10%);
			}
		}
	}
}

.single-post {

	background-color: #fff;
	position: relative;
	overflow-x: hidden;
	top: 0;
	left: 0;

	.single-post-header {
		position: absolute;
		padding: 10px;
		width: 100%;
		height: 450px;

		.single-post-header-container {
			margin-left: 4em;
			display: inline-block;

			h1.post-header {
				color: #fff;
				font-weight: 200;
				position: absolute;
				top: 47%;
			}
		}
		
	}

	/*
	 * 定义具体文章的样式
	 */

	.article-single {

		padding-top: 500px;
		font-size: 17px;
		line-height: 1.3;
		font-weight: 300;

		a {
			color: $main_color;

			&:hover {
				color: lighten($main_color, 10%);
			}
		}

		h1, h2, h3, h4, & > p, ol, ul {
			margin: 0 68px 34px;
			max-width: 700px;

			& > li {
				margin-bottom: 34px;
			}
		
			img {
				max-width: 100%;
			}
		}

		& > blockquote {
			margin: 0 0 24px;
			padding: 24px 68px;
			background-color: #eee;

			p {
				max-width: 700px;
			}
		}

		& > figure {
			margin: 0 0 34px;
			padding-top: 34px;
			padding-bottom: 34px;
			background-color: #eee;
			overflow: hidden;
			box-shadow: 0 0 10px 5px darken(#eee, 10%) inset;

			& > pre {
				overflow-x: scroll;
				font-size: 13px;
				margin: 0 68px 0;
			}
		}
	}

	.blog-categories {
		font-size: 17px;
		color: #333;
		border: none;
		margin: 0 4em 2em;
	}

	.blog-comment-box {
		width: 100%;
		box-shadow: 0 0 10px 5px #eee inset;
		padding-bottom: 34px;
		padding-top: 34px;

		#disqus_thread {

			max-width: 700px;
			margin: 0 4em 0;

		}
	}
}

// .single-post-footer {
// 	width: 100%;
// 	height: 40px;
// 	background-image: -webkit-linear-gradient(to bottom, #fff, #f4f4f6);
// 	background-image: linear-gradient(to bottom, #fff, #f4f4f6);
// }

@media all and (max-width: 900px) {
	.single-post {

		.single-post-header {
			height: 350px;

			.single-post-header-container {
				margin-right: 0;
			}
		}
	}
}