<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li class="github"><a href="//github.com/iplus26" target="_blank"></a></li>
          <li class="so"><a href="//stackoverflow.com/users/4158282/iplus26" target="_blank"></a></li>
          <li class="douban"><a href="//www.douban.com/people/iplus26/" target="_blank"></a></li>
          <li class="wechat"><div class="wechat-qrcode"></div></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
