<div class="blog-bio">
	<div class="footer-wrapper">
		<div class="bio-avatar"></div>
		<p>Hi! I'm <b>Ivan Jiang</b>. I write HTML, CSS & JavaScript, and am a web front end developer in China. I am now working at Mobotap, Inc (<a href="https://en.wikipedia.org/wiki/Dolphin_Browser">Dolphin Browser</a>) as an intern. </p>
		<p>I do like creating things so I enjoy programming, particularly in web and application development. Feel free to say <a href="mailto:me@ivanjiang.com">hi</a>. </p>
	</div>
</div>