body {
	background: #F7FAFB;
	color: #333;
	font-family: sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

.page-width {
	max-width: 1140px;
	padding-left: 2rem;
	padding-right: 2rem;
}

/*
Site Header
*/

.site-header {
	padding-top: 1rem;
	width: 100vw;
	max-width: 100%;
	background: rgba(255, 255, 255, .8);
	border-bottom: 1px solid #e7e7e7;
	min-height: 4.4rem;

	.site-logo {
		float: left;
		font-size: 2.2rem;
		line-height: 2.2rem;
		font-weight: 200;
		display: inline-block;
		background-image: url(../img/logo.png);
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: left;
		padding-left: 4rem;
		color: #333;

		.tagline {
			display: block;
			font-size: 1rem;
			line-height: 1.2rem;
			color: #666;
		}
	}

	.site-nav ul {
		list-style: none;
		text-align: right;
		margin: 0;

		li {
			display: inline-block;
			padding: 1rem 0 2rem 1.8rem;
		}

		.mobile-nav {
			display: none;
		}
	}

	// #mobile-menu {
	// 	display: none;
	// 	width: 3rem;
	// 	line-height: 100%;
	// 	background-image: url(../img/expand.png);
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// 	background-size: contain;
	// 	padding-bottom: 1rem;
	// }

	@include media-query($mobile) {
		/*
		Hide the navbar of the header when it comes to the mobile phones and pads.
		 */
		 .site-nav ul {
		 	display: none;
		 }

		 // #mobile-menu {
			// display: inline-block;
		 // }
	}
}


/*
Page Content
*/

.page-content {
	background: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/*
Index Page List
 */
ul.post-list {
	list-style: none;
	margin: 0;
	width: 80%;
	margin: 0 auto;

	li {
		color: inherit;
		display: block;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 1rem;
		background-color: #fff;
		border-bottom: 1px dashed #e7e7e7;

		/*
		Background images defined in `_banner.scss` 
		 */
		background-position: 1rem 1rem;
		background-size: 3.8rem auto;
		background-repeat: no-repeat;
		padding-left: 6rem;
	}

	li:last-child {
		border-bottom: none;
	}

	h2 {

		a:link, a:visited {
			color: inherit;
		}
	}

	.post-meta {
		color: #666;
		font-size: .8rem;
		display: block;
	}

	@include media-query($mobile) {

		width: 100%;

		li {
			margin: .3rem auto;
			padding: 5.8rem .2rem .2rem;
			background-position: center .5rem;
			background-size: auto 5rem;
		}
	}

}

/*
Site Footer 
*/

.site-footer {

	border-top: 1px solid #e7e7e7;
	background: #fff;
	font-size: .8rem;
	padding-bottom: 1rem;

	ul {
		list-style: none;
		padding: 0;
		margin: 1rem 0 0;

		& > li {
			display: inline-block;
			padding: 0 1rem 0 0;
		}
	}
}