body {
	background: #F7FAFB;
	font-family: sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

/*
    Site Header
 */

.site-header {

	.header {

		color: #000;
		width: 200px;

		@include media-query($on-laptop) {
			width: calc(100% - 40px);	
		}

		padding: 40px 20px;
		border-bottom: 1px $grey-color-light solid;
		float: left;
		background: #fff;

		.logo {
			background: url(../img/me.png) center/contain no-repeat;
			border-radius: 50%;
			width: 110px;
			height: 110px;
			margin: 0 auto;
		}

	}

	h1, h2 {
		margin: 0;
		text-align: center;
	}

	h1 {
		font-weight: 300;
		margin-top: 10px;
	}

	h2 {
		font-size: 13px;
		font-family: Georgia, serif;
	}
}


/*
     Page Content
 */

.page-content {
	border: 1px $grey-color-light solid;
	border-top: none;
	box-shadow: 0px 0px 15px $grey-color-light;
	float: left;
	width: 600px;
	width: calc(100% - 240px - 80px - 240px - 2px);
	min-height: 1vh;

	@include media-query($on-laptop) {
		width: calc(100% - 80px);
		border-left: none;
		border-right: none;
		min-height: auto;
	}

	background: #fff;
	padding: 40px 40px;
}

.post-list {

	list-style: none;
	margin-left: 0;

	& > li {
		padding: 0;

		h2 {
			font-size: 18px;
		}
	}

}

/*
     Site Footer 
 */

.site-footer {

	background: #fff;
	float: left;
	width: 200px;

	@include media-query($on-laptop) {
		width: calc(100% - 40px);
	}
	padding: 40px 20px;
	border-bottom: 1px $grey-color-light solid;
	font-size: 14px;

	p {
		text-align: justify;
	}

	ul {
		list-style: none;
		margin-left: 0;

		& > li {
			padding: 0;
		}
	}

	ul.social-media-list {

		& > li {
			display: inline-block;
			position: relative;
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-color: $grey-color;

			& > a {
				width: 20px;
				height: 20px;
				display: inline-block;
			}

			&:hover {
				background-color: $grey-color-dark;
			}

			&.github { background-image: url(../img/github.png); }
			&.so     { background-image: url(../img/so.png); background-size: 80%;}
			&.wechat { 
				background-image: url(../img/wechat.png);

				& > .wechat-qrcode {
					background-image: url(../img/qrcode.jpg);
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: 200px;
					height: 200px;
					position: absolute;
					top: 25px;
					left: -80px;
					transform: scale(0);
					padding: 10px;
					border: 3px #fff solid;
					box-shadow: 0 0 10px $grey-color;
					transform-origin: center top;
					transition: all .3s ease-in-out;
				}

				&:hover > .wechat-qrcode {
					transform: scale(.8);
				}
			}

			&.douban { 
				& > a:after { 
					content: '豆'; 
					position: absolute; 
					top: 0; left: 0;
					width: 20px;
					text-align: center;
					color: #fff;
				}
			}
		}
	}
}